<ul class="social-media-list">
  {%- if site.github_username -%}
  <li><a href="https://github.com/{{ site.github_username | cgi_escape | escape }}" rel="noopener" target="_blank"><i class="bi bi-github"></i> <span class="username">{{ site.github_username | escape }}</span></a></li>
  {%- endif -%}
  {%- if site.linkedin_username -%}
  <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}" rel="noopener" target="_blank"><i class="bi bi-linkedin"></i> <span class="username">{{ site.linkedin_username | escape }}</span></a></li>
  {%- endif -%}
  {%- if site.stackoverflow_id -%}
  <li><a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" rel="noopener" target="_blank"><i class="bi bi-stack-overflow"></i> <span class="username">Stack Overflow</span></a></li>
  {%- endif -%}
  <li><a href="{{ 'feed.xml' | relative_url }}"><i class="bi bi-rss"></i> <span>RSS Feed</span></a></li>
</ul>
